body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 17px 390px;
    background-color: #6C63FF;
}

.header__logo {
    width: 200px;
    height: 46px;
}
.btn {
    padding: 11px 38px;
    background-color: #6C63FF;
    border-radius: 5px;
    border: 1px solid #fff;
    color: #fff;
}